<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Actualizar curso</h1>
        <nav>
            <a href="{{ url_for('index') }}">Pagina de Inicio</a>
        </nav>
    </header>
    <main>
        <form method="post">
            <label for="curso">Curso</label>
            <input type="text" id="curso" name="curso" value="{{ curso.curso }}" required><br>
            <label for="lenguaje">Lenguaje</label>
            <input type="text" id="lenguaje" name="lenguaje" value="{{ curso.lenguaje }}" required><br>
            <label for="nivel">Nivel</label>
            <input type="text" id="nivel" name="nivel" value="{{ curso.nivel }}" required><br>
            <input type="submit" value="Actualizar curso" name="Actualizar" required>
        </form>
    </main>
</body>
</html>